/*header*/
a{
  color:#0177ff;

}
.brand{
  float:left;
  width:300px;
}
.brand>p:first-of-type{
  color:#85c93e;
  font-size:50px;
  margin:0px;
  line-height:55px;
}
.brand>p:last-of-type{
  color:#9d9d9d;
  font-size:23px;
  margin:0px;
  line-height:20px;
}
.logo a{
  height:60px !important;
}
/*index footer*/
.index-legend p{
  text-align:left;
  font-size:18px;
  margin:0px;
  padding:0px !important;
}
/*slide*/
.slider{
  padding-bottom:0px !important;
  border-top:1px solid rgba(0,0,0,0.1);
  border-bottom:1px solid rgba(0,0,0,0.1);
}
.slider-left{
  box-sizing:border-box;
  width:100% !important;
  margin:0px !important;
}
.slide-image{
  background:url('../images/slider-img.png')no-repeat center center;
  height:600px;
  position:relative;
  top:-50px;
  box-sizing:border-box;
  width:100% !important;

}
/*单页*/
.article-left,.article-right{
  box-sizing:border-box;
  float:left;
}
.article-left{
  width:80%;
}
.article-right{
  width:20%;
}
.fix-menu{
  margin:0px 10px 0 20px;
  border-width:1px ;
  border-style: solid;
  border-color: rgba(0,0,0,0.1);
  background:rgba(0,0,0,0.02);
  position:relative;
  top:0px;

}
.fix-menu li{
  padding:10px 5px;
  border-bottom:1px ;
    border-style: solid;
    border-color: rgba(0,0,0,0.1);
}
.fix-menu li a{
  display:block;
  text-align:right;
  width:100%;
  cursor:pointer;
  color:#333;
  font-size:15px;
}
.fix-menu li a:hover{
  color:#85c93e
}
body{
    min-width:1400px;
}
.blog-single-artical h4{
  font-size:27px;
  color:#85c93e;
}
.blog-single-artical h6{
  color:#777;
  font-size:15px;
}
.blog-single-artical p{
  font-size:17px;
  margin:20px 0px;
}
.content-top-grid-title-left a{
    font-weight:500;
}
/******************************************** table **********************************************/
.blog-single-artical table{
    width:100%;
    border-collapse:collapse;
    border: 1px solid rgba(0,0,0,0.2);
}
.blog-single-artical table thead td{
    font-weight:bold;
}
.blog-single-artical table td{
    border: 1px solid rgba(0,0,0,0.2);
    padding:5px;
}
/******************************************** ul **********************************************/
.blog-single-artical ul{
    padding-left:40px;
    list-style:decimal;
}
/******************************************** 供应商管理 **********************************************/
.blog-single-artical .pic{
  width:100%;
  height:400px;
  /*background-size:cover !important;*/
  border-bottom:1px solid #ddd;
}
.blog-single-artical .pic.supplier-one{
  background:url(../images/supplier/5-1.png) no-repeat left center ;
  height:533px;
}
.blog-single-artical .pic.supplier-two-one{
    background:url(../images/supplier/5-2-1.png) no-repeat left center ;
    height:80px;
    margin-bottom:30px;
}
.blog-single-artical .pic.supplier-two-two{
    background:url(../images/supplier/5-2-2.png) no-repeat left center ;
    height:526px;
}
.blog-single-artical .pic.supplier-two-three{
    background:url(../images/supplier/5-2-3.png) no-repeat left center ;
    height:526px;
    margin-bottom:20px;
}
.blog-single-artical .pic.supplier-three-one{
  background:url(../images/supplier/5-3-1.png) no-repeat left top;
  /*height:520px;*/
  margin-bottom:30px;
}
.blog-single-artical .pic.supplier-three-two{
  background:url(../images/supplier/5-3-2.png) no-repeat left top;
  height:498px;
}
.blog-single-artical .pic.supplier-three-three{
    background:url(../images/supplier/5-3-3.png) no-repeat left top;
    height:260px;
}
.blog-single-artical .pic.supplier-four{
  background:url(../images/supplier/5-4.png) no-repeat left top;
  height:490px;
  margin-bottom:120px;
}
/******************************************** 仓库管理 **********************************************/
.blog-single-artical .pic.ware-one{
  background:url(../images/warehouse/4-1.png) no-repeat left center ;
  height:180px;
}
.blog-single-artical .pic.ware-two{
  background:url(../images/warehouse/4-2.png) no-repeat left center ;
  height:460px;
}
.blog-single-artical .pic.ware-two-one{
    background:url(../images/warehouse/4-2-1.png) no-repeat left center ;
    height:460px;
}
.blog-single-artical .pic.ware-three{
  background:url(../images/warehouse/4-3.png) no-repeat left center ;
  height:407px;
}
.blog-single-artical .pic.ware-five-one{
  background:url(../images/warehouse/4-5-1.png) no-repeat left center ;
  height:274px;
}
.blog-single-artical .pic.ware-five-two{
  background:url(../images/warehouse/4-5-2.png) no-repeat left center ;
  height:263px;
}
.blog-single-artical .pic.ware-five-three{
  background:url(../images/warehouse/4-5-3.png) no-repeat left center ;
  height:263px;
  margin-bottom:120px;
}
/******************************************** 订单管理 **********************************************/
.blog-single-artical .pic.order-one{
    background:url(../images/order/1-1.png) no-repeat left center ;
    height:787px;
}
.blog-single-artical .pic.order-two{
    background:url(../images/order/1-2.png) no-repeat left center ;
    height:303px;
}
.blog-single-artical .pic.order-three-one{
    background:url(../images/order/1-3-1.png) no-repeat left center ;
    height:407px;
}
.blog-single-artical .pic.order-three-two{
    background:url(../images/order/1-3-2.png) no-repeat left center ;
    height:306px;
}
.blog-single-artical .pic.order-four{
    background:url(../images/order/1-4.png) no-repeat left center ;
    height:428px;
    margin-bottom:120px;
}
/******************************************** 成品管理 **********************************************/
.blog-single-artical .pic.product-one{
    background:url(../images/product/2-1.png) no-repeat left center ;
    height:800px;
}
.blog-single-artical .pic.product-two{
    background:url(../images/product/2-2.png) no-repeat left center ;
    height:644px;
}
.blog-single-artical .pic.product-three{
     background:url(../images/product/2-3.png) no-repeat left center ;
     height:560px;
}
.blog-single-artical .pic.product-three-one{
    background:url(../images/product/2-3-1.png) no-repeat left center ;
    height:448px;
}
.blog-single-artical .pic.product-three-two{
    background:url(../images/product/2-3-2.png) no-repeat left center ;
    height:448px;
}
.blog-single-artical .pic.product-three-three{
    background:url(../images/product/2-3-3.png) no-repeat left center ;
    height:448px;
}

.blog-single-artical .pic.product-three-four{
    background:url(../images/product/2-3-4.png) no-repeat center center ;
    height:448px;
}
.blog-single-artical .pic.product-three-five{
    background:url(../images/product/2-3-5.png) no-repeat center center ;
    height:448px;
}


.blog-single-artical .pic.product-four{
      background:url(../images/product/2-4.png) no-repeat left center ;
      height:448px;
 }
.blog-single-artical .pic.product-four-one{
    background:url(../images/product/2-4-1.png) no-repeat left center ;
    height:448px;
}
.blog-single-artical .pic.product-five-one{
    background:url(../images/product/2-5-1.png) no-repeat left top ;
    height:420px;
}
.blog-single-artical .pic.product-five-two{
    background:url(../images/product/2-5-2.png) no-repeat left top ;
    height:460px;
}
.blog-single-artical .pic.product-five-three{
    background:url(../images/product/2-5-3.png) no-repeat left top ;
    height:460px;
}
.blog-single-artical .pic.product-six-one{
    background:url(../images/product/2-6-1.png) no-repeat left top ;
    height:444px;
}
.blog-single-artical .pic.product-six-two{
    background:url(../images/product/2-6-2.png) no-repeat left top ;
    height:444px;
    margin-bottom:120px;
}

/******************************************** 原材料管理 **********************************************/
.blog-single-artical .pic.material-one-two{
    background:url(../images/material/3-1-2.png) no-repeat left center ;
    height:644px;
}
.blog-single-artical .pic.material-one-three{
    background:url(../images/material/3-1-3.png) no-repeat left center ;
    height:448px;
}
.blog-single-artical .pic.material-one-four{
    background:url(../images/material/3-1-4.png) no-repeat left center ;
    height:448px;
}
.blog-single-artical .pic.material-one-five{
    background:url(../images/material/3-1-5.png) no-repeat left center ;
    height:448px;
}
.blog-single-artical .pic.material-two{
    background:url(../images/material/3-2.png) no-repeat left center ;
    height:803px;
}
.blog-single-artical .pic.material-two-one{
    background:url(../images/material/3-2-1.png) no-repeat center center ;
    height:448px;
}
.blog-single-artical .pic.material-three{
    background:url(../images/material/3-3.png) no-repeat left center ;
    height:220px;
}
.blog-single-artical .pic.material-four{
    background:url(../images/material/3-4.png) no-repeat left center ;
    height:691px;
}
.blog-single-artical .pic.material-four-one{
    background:url(../images/material/3-4-1.png) no-repeat left center ;
    height:448px;
}
.blog-single-artical .pic.material-four-two{
    background:url(../images/material/3-4-2.png) no-repeat center center ;
    height:448px;
}
.blog-single-artical .pic.material-four-three{
    background:url(../images/material/3-4-3.png) no-repeat center center ;
    height:448px;
}
.blog-single-artical .pic.material-five-one{
    background:url(../images/material/3-5-1.png) no-repeat center center ;
    height:420px;
}
.blog-single-artical .pic.material-five-two{
    background:url(../images/material/3-5-2.png) no-repeat center center ;
    height:420px;
}
.blog-single-artical .pic.material-six{
    background:url(../images/material/3-6.jpg) no-repeat center center ;
    height:450px;
}
.blog-single-artical .pic.material-seven-one{
    background:url(../images/material/3-7-1.png) no-repeat top center ;
    height:480px;
}
.blog-single-artical .pic.material-seven-two{
    background:url(../images/material/3-7-2.png) no-repeat top center ;
    height:480px;
    margin-bottom:120px;
}
/******************************************** 应急管理 **********************************************/
.blog-single-artical .pic.emergency-one{
    background:url(../images/emergency/6-1-1.png) no-repeat left center ;
    height:420px;
    margin-bottom:40px;
}
.blog-single-artical .pic.emergency-two{
    background:url(../images/emergency/6-1-2.png) no-repeat left center ;
    height:200px;
    margin-bottom:20px;
}

.blog-single-artical .pic.emergency-three{
    background:url(../images/emergency/6-1-3.png) no-repeat left center ;
    height:200px;
    margin-bottom:20px;
}
.blog-single-artical .pic.emergency-four{
    background:url(../images/emergency/6-1-4.png) no-repeat left center ;
    height:200px;
    margin-bottom:20px;
}
/******************************************** 集成模块 **********************************************/
.blog-single-artical .pic.assemble-two{
    background:url(../images/assemble/7-2.jpg) no-repeat center center ;
    height:430px;

}
/******************************************** 计划安排 **********************************************/
.blog-single-artical .pic.gunter-one{
    background:url(../images/gunter/8-1.png) no-repeat center center ;
    height:420px;
}
.blog-single-artical .pic.gunter-two{
    background:url(../images/gunter/8-2.png) no-repeat center center ;
    height:420px;
    margin-bottom:120px;
}
